body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  direction: rtl;
}
.leaflet-container {  width: 100%;  height: 100vh; }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "YEKAN-Bold-Num";
  src: url("Assets/font/IRANYekanBoldFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "YEKAN-Num";
  src: url("Assets/font/IRANYekanRegularFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "YEKAN-Light-Num";
  src: url("Assets/font/IRANYekanLightFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "YEKAN-Medium-Num";
  src: url("Assets/font/IRANYekanMediumFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "YEKAN-Thin-Num";
  src: url("Assets/font/IRANYekanThinFaNum.ttf") format("truetype");
}
